<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style type="text/css">
body {
	padding: 25px;
}
		</style>
	</head>

	<a href="/" target="_parent"><button>Back</button></a>
        <br>
	<body>
			<center>Currently in Downloads:</center>
		<br>
		<form method="POST" form action="/move">
		{{range $value := .Downloadlist}}
		<input type="radio" id={{$value}} name="current" value={{$value}}>
		<label for={{$value}}>{{$value}}</label><br><br>
		{{end}}

			<center>Database Directory:</center>
		<br><br>
			<input type="radio" id="Movies" name="directory" value="Movies">
			<label for="Movies">Movies</label><br>
		{{range $value := .Showlist}}
			<input type="radio" id={{$value}} name="directory" value={{$value}}>
			<label for={{$value}}>{{$value}}</label><br>
		{{end}}
		<br><br>
		<input type="Submit" value="Submit">
		</form>
	</body>
</html>
